/* -----------------
Import Link or File 
------------------*/

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* ------------
Utilities Style
--------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color: #15c196;
    --primary-font: 'Poppins', sans-serif;
    --primary-font-color: white;

    --secondary-font-color: lightslategray
}

body {
    font-family: var(--primary-font);
    background: #14141B;
    color: var(--primary-font-color);
}

.primary-color {
    color: var(--primary-color);
}

button {
    border: 1px solid var(--primary-color);
}

button:hover{
    background: var(--primary-color);

}

.border-bottom {
    border-bottom: 1px solid var(--primary-color);
}

/* Header Section Style */
.down-arrow i:last-child {
    font-size: 60px;
}


/* -----------------------------------------
       My Project showcase Section Style
-----------------------------------------*/
.project-showcase{
    background: #1D1D25;
}

/* --------------------
Contact Section style 
---------------------*/
.half-circle {
    position: relative;
    left: 10.5%;
    top: 13%;
    height: 130px;
    width: 250px;
    border: 1px solid var(--primary-color);
    border-radius: 150px 150px 0 0;
}

/* ----------------------------------------------------------------
                             Media Query
---------------------------------------------------------------*/

/* Responsive Mobile */
@media only screen and (max-width: 576px) {
    .navication-section {
        display: none;
    }

    /*  */
    .intro-section {
        display: none;
    }

    /*  */
    .down-arrow {
        display: none;
    }

    /*  */
    .skill-section {
        display: none;
    }

    /*---------------------------- 
            Contact Section 
    ----------------------------*/
    .contact-section>.container {
        flex-direction: column;
        gap: 150px;
        align-items: center;

    }
}